.section
  %table
    %tr
      %td
        .label.top.req= t(:name) + ":"
        = f.text_field :name
    %tr
      %td
        .label.top.req= t(:terms) + "(one per line):"
        = f.text_area :terms_string