- id = dom_id(@contact)

$('##{id}').replaceWith('#{ j render(:partial => "contacts/contact", :collection => [ @contact ]) }');
$('##{id}').effect("highlight", { duration:1500 });
= refresh_sidebar_for(:contacts, :index, :filters)