%form
  %h2="This registration is not valid or no longer available"
  %div=spacer
  %div=spacer
  %p
    = "Please "
    = link_to('contact us', 'https://northterrace.es.org.au/contact')
    = " if you require any assistance" 