- @versions = Version.recent_for_user(current_user)
.well{:style => "padding:0;"}
  %ul.nav.nav-list#recently
    %li.nav-header #{t :recent_items}
    - if @versions.present?
      = render :partial => "shared/recent", :collection => @versions
    - else
      %div #{t :no_recent_items}
