- asset = controller_name.singularize
.row
  .col-sm-12.two-col
    .form-group.col-sm-12
      %label.control-label= t(:tags) + ":"

      = f.hidden_field :tag_list,
      {:class => "form-control select2_tag", :data => {:tags => Tag.all.map{|t| t.name},
      :url => url_for(action: 'field_group'), :placeholder => t(:select_or_create_tags),
      :multiple => true, :asset_id => f.object.try(:id) }}
