.box-header
  #confirm{ hidden }
  %h2.box-title.view-title#edit_contact_title
    = h(@contact.full_name)
  .box-tools
    = link_to_inline(:edit_contact, edit_contact_path(@contact), :text => t(:edit), :class => "btn btn-default btn-xs", :plain => true)
    = link_to_function(t(:delete) + '?', confirm_delete(@contact), :class => "btn btn-danger btn-xs")
  / .title_tools#buttons
  /   = view_buttons

